.main{
  background-color: #0b135ed4;
  min-height: 100vh;
  display: flex;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.h25{
  height: 25em;
}
.h20{
  height: 20em;
}

.overflow_hidden{
  overflow: hidden;
}
.card{
  color: white;
}
.main .card i{
  font-size: xxx-large;
}
.zoomable {
  transition: 0.4s all;
  cursor: pointer;
}

.zoomable:hover{
  transform: scale(1.02);
}

.fieldset {
  border: solid 1px lightblue;
  border-radius: 5px;
  padding: 10px 15px;
}
.fieldset > legend{
  color: black;
  font-size: small;
  transform: translateY(-28px);
  padding: 5px 15px;
  background-color: white;
  width: auto;
  border: solid 1px lightblue;
  border-radius: 3px;
}