html,
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url('/993956.jpg');
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.verital_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.verital_fill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

tbody,
tfoot,
tr,
td {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: small;
}
td{
  height: 45px;
  line-height: 45px;
}
th{
  font-size: large;
  font-weight: bold;
}
tr{
  border: unset;
}